<div class="agile-signup">	
			
    <div class="content2">
        <div class="grids-heading gallery-heading signup-heading">
            <h2>Đăng nhập</h2>
        </div>
        <form action="." method="post">
            <input [(ngModel)]="userName" name="user-name" type="text" placeholder="tên đăng nhập">
            <input [(ngModel)]="userPassword" name="user-password" type="password" placeholder="mật khẩu">
            <button class="register"  (click)="signIn()">Đăng nhập</button>
        </form>
        <div class="signin-text">
            <div class="text-left">
                <p><a href="#"> Quên mật khẩu? </a></p>
            </div>
            <div class="text-right">
                <p><a href="#"> Tạo tài khoản mới</a></p>
            </div>
            <div class="clearfix"> </div>
        </div>
        <a href="#">Quay lại trang chủ</a>
    </div>
</div>